book
.tox/
env/
.idea/
*.egg-info/
*.egg-info
__pycache__/
__pycache__/*
*/__pycache__/
venv
.egg-info/
*egg-info/*
junit
pytests_reports.json
squid_workspace
.terraform/
*.tfstate*
__pycache__
reports
.coverage
dist
.nox
.codecov_token
.mypy_cache/
coverage.xml
docs/_build
squid_env/
tests/.squid/db.json
*.log
*.tfplan
*.tfstate
